.About-main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

h4{
    font-size: 60px;
}
.about-left p{font-size: 15px;}

.about-left{
    width: 50%;
    overflow: hidden;
}
.about-right{
    width: 50%;
}

.avatar-2{
    width: 100%;
}

.tools_container{
  width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.img_container{
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tool_img{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}



  @media screen and (max-width:800px){
    .About-main-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    h4{
        font-size: 40px;
    }
    .about-left{
        width: 100%;
    }
    .tools-container{
        padding: 20px;
        display: flex;
        gap: 10px;
    }
    .about-right{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .avatar-2{
        width: 300px;
    }
  }
  
  
  
