.page-container{
    z-index: 100;
    position: relative;
}

.hero_text_card_container{
    display: flex;
    justify-content: space-between;
}
.project-hero-text-con{
    position: fixed;
    position: relative;
    top: 20%;
}
h6{
    font-size: 40px;
    margin-left: 30px;
    position: sticky;
    top: 50px;
}

.project_card_container_for_padding{
    padding: 40px;
}

.card_container{
    width: 100%;
    padding: 10px;
    background-color: rgb(47, 36, 61);
    margin-top: 20px;
    position: relative;
}

.card_img_container{
    width: 100%;
}
.card_img{
    width: 100%;
}

.title_link_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview_tools_container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    font-size: 11px;
    margin-top: 10px;
}

a{
    font-size: 13px;
    text-decoration: none;
}

.link_container{
    margin-top: 10px;
    background-color: purple;
    padding: 7px 30px;
    border-radius: 10px;
    width: 20%;
}
.live_preview_link{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  


  
@media screen and (max-width:800px) {
    .page-container{
        z-index: 100;
    }    
    
.hero_text_card_container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.project-hero-text-con{
    position: relative;
    position: relative;
    top: 0%;
    margin-top: 20px;
}
h6{
    font-size: 40px;
    margin-left: 30px;
    position: sticky;
    top: 0px;
}

    .project_card_container_for_padding{
        padding: 20px;
    }
    
    .card_container{
        width: 100%;
        padding: 10px;
        background-color: rgb(47, 36, 61);
        margin-top: 20px;
    }
    
    .card_img_container{
        width: 100%;
    }
    .card_img{
        width: 100%;
    }

    a{
        font-size: 13px;
        text-decoration: none;
    }
    
    .link_container{
        margin-top: 10px;
        background-color: rgb(79, 20, 79);
        padding: 7px 0px;
        border-radius: 10px;
        width: 60%;
    }
    .live_preview_link{
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
      
}