/* .main-project-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
} */

/* .project-hero-text-con{
    position: sticky;
} */
/* h6{
    
    font-size: 60px;
}

.main-card-container{
    padding: 10px;
}

.card{
    padding: 20px 20px 5px;
    display: grid;
    place-items: center;
    background-color: rgb(47, 36, 61);
    margin-top: 20px;
}



.project-img{
    width: 100%;
    transition: .5s;
    margin-bottom: 20px;
}.project-img:hover{
    width: 100%;
    scale: 1.05;
    transition: .5s;
    position: relative;
}

.project-details span{
    margin-top: 15px;
}.project-details p{
    font-size: 11px;
    margin-top: 10px;
}  a{
    font-size: 12px;
} 

.sub_project_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
} */

.hero_text_card_container{
    display: flex;
    justify-content: space-between;
}
.project-hero-text-con{
    position: fixed;
    position: relative;
    top: 20%;
}
h6{
    font-size: 40px;
    margin-left: 30px;
    position: sticky;
    top: 50px;
}

.project_card_container_for_padding{
    padding: 40px;
}

.card_container{
    width: 100%;
    padding: 10px;
    background-color: rgb(47, 36, 61);
    margin-top: 20px;
}

.card_img_container{
    width: 100%;
}
.card_img{
    width: 100%;
}

.title_link_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview_tools_container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    font-size: 11px;
}

a{
    font-size: 13px;
}


  


  
@media screen and (max-width:800px) {
    
.hero_text_card_container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.project-hero-text-con{
    position: relative;
    position: relative;
    top: 0%;
    margin-top: 20px;
}
h6{
    font-size: 40px;
    margin-left: 30px;
    position: sticky;
    top: 0px;
}

    .project_card_container_for_padding{
        padding: 20px;
    }
    
    .card_container{
        width: 100%;
        padding: 10px;
        background-color: rgb(47, 36, 61);
        margin-top: 20px;
    }
    
    .card_img_container{
        width: 100%;
    }
    .card_img{
        width: 100%;
    }
 
/* 
    h6{
        font-size: 30px;
    }
    .card{
        padding: 20px 15px 10px;
        display: grid;
        place-items: center;
        background-color: rgb(47, 36, 61);
        margin-top: 20px;
        width: 100%;
        overflow: hidden;
    }
    .project-details span{
        margin-top: 15px;
    }.project-details p{
        font-size: 10px;
    }.project-link {
        font-size: 12px;
    }  */
}