.home-container{
height: 100vh; 
display: flex;
justify-content: center;
}

.home_content_con{
    display: flex;
justify-content: center;
flex-direction: column;
margin-bottom: 50px;
z-index: 100000000;

}

.first_content > span {
    font-size: 30px;
}

.second_content{
    margin-top: 30px;
    margin-left: 40px;
}
.second_content > span {  
    font-size: 50px;
    font-weight: bold;
}

.third_content{
    margin-top: 30px;
}
.third_content > span {
    font-size: 14px;
}

.last_hero_content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    margin-left: 60px;
    flex-wrap: wrap;
}
.last_hero_content > span{
    font-size: 12px;
}

.action_one {
    position: relative;
    text-decoration: none;
  }
  
  .action_one:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white; 
  }

  .action_two {
    position: relative;
  }
  
  .action_two:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white; /* Adjust the color as needed */
  }




@media screen and (max-width:800px) {
    .home-container{
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 45px;
        }
        
        .home_content_con{
            display: flex;
            text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 150px;
        }
        
        .first_content > span {
            font-size: 30px;
            text-align: center;

        }
        
        .second_content{
            margin-top: 30px;
            margin-left: 0px;
            text-align: center;
        }
        .second_content > span {  
            font-size: 50px;
            font-weight: bold;
            text-align: center;

        }
        
        .third_content{
            margin-top: 30px;
            text-align: center;

        }
        .third_content > span {
            font-size: 14px;
            text-align: center;

        }
        
}
