
.navbar-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
}



.list-container{
    background-color: transparent;
}

ul{
    display: flex;
    gap: 40px;
    align-items: center;
    
}

li{
    list-style: none;
    cursor: pointer;
}
li:hover{
    list-style: none;
    cursor: pointer;
    color: purple;
}

.open-nav-btn{
    display: none;
}
.close-nav-btn{
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    font-size: 40px;
}


@media screen and (max-width:800px) {
    
    .navbar-container{
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0;
    } .navbar-container_active{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: #20002c;;
        z-index: 100000000;
    }

    .menu-wrapper{
        position: absolute;
        background-color: rgb(28, 28, 31);
        top: 0%;
        left: 0%;
        height: 70vh;
        width: 100vw;
        transition: 1s;
        overflow: hidden;
        z-index: 10;
    } .menu-wrapper_active{
        position: absolute;
        background-color: rgb(28, 28, 31);
        top: 0%;
        left: 0%;
        height: 0vh;
        width: 100vw;
        transition: 1s;
        overflow: hidden;
        z-index: 10;
    }

    .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25%;
        left: 28%;   
     }
    .menu_active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25%;
        left: 28%;
    }
   
    .open-nav-btn{
        display: block;
        background-color: black;
    width: 50px;
    height: 50px;
    position: relative;
    border: 1px solid grey;
    border-radius: 10px;
    z-index: 100000;
    }
    .list-link{
        text-decoration: none;
        font-size: 30px;
        padding: 15px;
    }.list-link:hover{
        text-decoration: none;
        font-size: 30px;
        background-color: #38004d;
        padding: 15px;
        border-radius: 12px;
    }
}